a[href^="http://maps.google.com/maps"]
{
    display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
    display: none !important;
}
@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Nunito+Sans:wght@700&family=Nunito:ital@1&family=Playfair+Display:wght@400;600&display=swap");

#backgroundImage {
    background: url(../../Collage\ LoginPage.jpeg);

    background-size: 100% 100%;
}

.carousel .slide img {
    max-width: 100% !important;
}

.NameWebsite {
    font-family: "Asap", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Playfair Display", serif;
}

.centered {
    position: fixed;
    left: 45%;
    top: 40%;
    width: 100%;
    height: 100%;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.cardImage {
    height: 12rem;
    border-radius: 20px;
}

html,
body {
    height: 100vh;
}

.customBackgound {
    background: rgb(40, 71, 122);
    background: linear-gradient(90deg, rgba(40, 71, 122, 1) 61%, rgba(77, 84, 126, 1) 92%);
}

.mainContainer {
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: hidden;

    /* don't show content that exceeds my height */
}

.mainContianerRow {
    height: 90% !important;
    background-color: #eceff1;
}

.customRounding {
    border-radius: 10px;
}
.textAlignCenter {
    text-align: center;
}

.buttonRounding {
    border-radius: 10px;
}

#searchList {
    position: absolute;
    margin-top: 0px;
    z-index: 10;
    background-color: white;
}

#reviewParagraph {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.navBar-button {
    border-color: white !important;
    color: white !important;
    cursor: pointer;
    background-color: transparent !important;
    background-repeat: no-repeat;
}

.navBar-button:hover {
    border-color: white !important;
    color: #1976d2 !important;
    cursor: pointer;
    background-color: white !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* Scroll bar for the PostsComponent::::> */

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.customScrollbar:hover {
    color: rgba(0, 0, 0, 0.3);
}

.customScrollbar {
    border-radius: 3px;
    overflow: auto;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 black;
    transition: color 0.3s ease;
}

/* chat styles */

.messageSent {
    position: relative;
    font-size: 14px;
    min-width: 15% !important;
    max-width: 60% !important;
    background-color: #a8ddfd;
    overflow-wrap: break-word;
    border-radius: 10px 10px 0px 10px;
}

.messageSent p {
    margin: 0;
    padding: 0;
}

.messageRecieved {
    position: relative;
    font-size: 14px;
    min-width: 15% !important;
    max-width: 60% !important;
    background-color: #f8e896;
    overflow-wrap: break-word;
    border-radius: 10px 10px 10px 0px;
}
.messageRecieved p {
    margin: 0;
    padding: 0;
}

.chatRow {
    margin-left: 0 !important;
}

.chatFooter {
    background-color: #ededed;
    border-left: solid 1px #dadada;
    height: 7vh;
}

.chatFooterDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.messageInput {
    position: relative;
    top: 22.5%;
    flex-grow: 1;
}

.hoverClass:hover {
    background-color: #cfd8dc;
}

.tripsItem > div {
    border-radius: 5%;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 250px; /* change this to whatever you want */
    width: auto;
}

.customRoundingContainer {
    border-radius: 10px;
}
